absl-py             >= 0.8.0
Flask               >= 1.1.2 
numpy               >= 1.17.2
pandas              >= 0.25.3
urllib3             < 1.25
websocket-client
matplotlib

#git+https://github.com/obolary/td-ameritrade-python-api.git@develop#egg=td-ameritrade-python-api
#git+https://github.com/obolary/option-pricing-python.git@develop#egg=option-pricing-python
